.about {
    padding-top: 5rem;
    padding-left: 1rem;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.devinfo {
    background-color: rgb(204, 204, 216);
    border-radius: 2rem;
    padding: 2rem;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin: 0 5rem 15px 0;
}

.devinfo>.usertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.devinfo .usertext>p {
    text-overflow: ellipsis;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 0px;
}


.usertext>h1 {
    margin-bottom: 10px;
}

.devinfo>* {
    padding: 0 0 1rem 0;
}

.devinfo>.links {
    display: flex;
    justify-content: start;
}

.links>* {
    margin-right: 10px;
    margin-top: 0.5rem;
}

#devpicture {
    width: 15rem;
    height: 13rem;
    padding: 2rem;
    margin: auto 0;
}