header{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    min-height: 3.5rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    background: linear-gradient(to left, #c928c9, #3d053f);
    color: #ffffff;
}

header>span{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

ul > li> a{
    text-decoration: none;
    color: black;
    color: #ffffff;
}


ul > li > a:hover {
        color: #f1356d;
        position: relative;
    }

ul > li > a:hover::before {
    content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #f1356d;
        transition: linear 0.3s;
    }

ul > li > a:hover::before {
        width: 100%;
    }
